
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;
 background-image: url("images/headphonesBackground.jpg");}
body{margin:0;
  background-image: url("images/headphonesBackground.jpg");}

